<!-- Copyright  2020  Sjoerd van Leent

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.  -->
<!DOCTYPE html>

<html>
  <head lang="en">
    <title>EM Doorbell Setup</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/bootstrap.min.css" type="text/css" />
    <script src="/jquery.min.js"></script>
    <script src="/vue.js"></script>
  </head>
  <body>

    <div id="app" class="container">
      <h1>Please enter the credentials for network access</h1>

      <form ref="form" class="container-fluid" v-on:submit.prevent>

	<div class="row">
	  <label for="ssid" class="col-sm-3">Select network SSID to use</label>
	  <select v-model="ssid" name="ssid" class="col-md-6">
	    <option disabled value="">Select SSID</option>
	    <option v-for="option in options" v-bind:value="option.ssid">
	      {{ option.ssid }} [ {{ option.authmode_kw }} ]
	    </option>
	  </select>
	</div>

	<div class="row">
	  <label for="password" class="col-sm-3">Enter network Password</label>
	  <input class="col-md-5" placeholder="Password" v-bind:type="passwordType" name="password" v-model="password" />
	  <a class="col-sm-1" v-on:click="switchPassword">{{ showPasswordLabel }}</a>
	</div>

	<div class="row">
	  <label for="uri" class="col-sm-3">Enter MQTT URI</label>
	  <input class="col-md-6" placeholder="MQTT URI" type="text" name="uri" v-model="uri" />
	</div>

	<div class="row">
	  <label for="channel" class="col-sm-3">Enter MQTT Channel</label>
	  <input class="col-md-6" type="text" name="channel" v-model="channel" />
	</div>

	<div class="row">
	  <button class="col-md-3" v-on:click="send">Send</button>
	</div>
      </form>
    </div>

    <script>

      function toUTF8Array(str) {
	  var utf8 = [];
	  for (var i=0; i < str.length; i++) {
              var charcode = str.charCodeAt(i);
              if (charcode < 0x80) utf8.push(charcode);
              else if (charcode < 0x800) {
		  utf8.push(0xc0 | (charcode >> 6), 
			    0x80 | (charcode & 0x3f));
              }
              else if (charcode < 0xd800 || charcode >= 0xe000) {
		  utf8.push(0xe0 | (charcode >> 12), 
			    0x80 | ((charcode>>6) & 0x3f), 
			    0x80 | (charcode & 0x3f));
              }
              else {
		  i++;
		  charcode = 0x10000 + (((charcode & 0x3ff)<<10)
					| (str.charCodeAt(i) & 0x3ff));
		  utf8.push(0xf0 | (charcode >>18), 
			    0x80 | ((charcode>>12) & 0x3f), 
			    0x80 | ((charcode>>6) & 0x3f), 
			    0x80 | (charcode & 0x3f));
              }
	  }
	  return utf8;
      }

      function parseAPSResults(results) {
	  var rawResultSetNonUnique = results.split("\n");
	  var rawResultSet = [];

	  /* Filter result set to contain unique values (in case of mesh networks) */
	  rawResultSetNonUnique.forEach(function(line) {
	      var i = rawResultSet.findIndex(x => x == line);
	      if (i <= -1 && line.length > 0) {
		  rawResultSet.push(line);
	      }
	  });

	  /* Convert the individual lines to a JSON Table representation */
	  return rawResultSet.map(function(line) {
	      var data = line.matchAll(/^([^\s])+\s([^\s]+)\s(.*)/g).next().value;
	      data.shift();
	      return {
		  authmode: data[0],
		  authmode_kw: data[1],
		  ssid: data[2],
		  value: data[0] + " " + data[2]
	      };
	  });
      }
      
      var app = new Vue({
	  el: '#app',
	  data: {
	      passwordType: 'password',
	      showPasswordLabel: 'Show',
	      ssid: "",
	      password: "",
	      uri: "",
	      channel: "topic/doorbell",
	      options: []
	  },
	  methods: {
	      pullNetworks: function() {
		  $.ajax({
		      url: "/aps",
		      success: results => this.options = parseAPSResults(results)
		  });
	      },

	      send: function() {
		  var payload = new Array(1024);

		  for (var i = 0; i < 1024; i++) {
		      payload[i] = 0;
		  }

		  actual_ssid = toUTF8Array(this.ssid).slice(0, 32);
		  actual_password = toUTF8Array(this.password).slice(0, 64);
		  actual_uri = toUTF8Array(this.uri).slice(0, 256);
		  actual_channel = toUTF8Array(this.channel).slice(0, 256);
		  payload[0] = actual_ssid.length;
		  payload[1] = actual_password.length;
		  payload[2] = actual_uri.length;
		  payload[3] = actual_channel.length;

		  for (var i = 0; i < actual_ssid.length; i++) {
		      payload[i+4] = actual_ssid[i];
		  }

		  for (var i = 0; i < actual_password.length; i++) {
		      payload[i+36] = actual_password[i];
		  }

		  for (var i = 0; i < actual_uri.length; i++) {
		      payload[i+100] = actual_uri[i];
		  }

		  for (var i = 0; i < actual_channel.length; i++) {
		      payload[i+356] = actual_channel[i];
		  }

		  var binary = new Int8Array(payload);
		  $.ajax({
		      url: '/init',
		      type: 'POST',
		      contentType: 'application/octetstream',
		      data: binary,
		      processData: false
		  });
	      },

	      switchPassword: function() {
		  this.passwordType = (this.passwordType == 'password' ? 'text' : 'password');
		  this.showPasswordLabel = (this.passwordType == 'password' ? 'Show' : 'Hide');
		  return false;
	      }
	  },
	  mounted: function() {
	      this.pullNetworks();
	  }
      })
    </script>

  </body>


</html>
